# Python/Logic
.venv
__pycache__
*.pyc
.env
.ipynb_checkpoints
*.ipynb

# Dashboard/Frontend
dashboard/node_modules
dashboard/.next
dashboard/out

# Infrastructure/Git
.git
.gitignore
Dockerfile
.dockerignore

# Data/Large Assets
scripts/
sim/
assets/
*.mp4
*.png
shipments.csv