fastapi>=0.103.0
uvicorn>=0.23.2
pydantic>=2.3.0
redis>=5.0.0
pandas>=2.1.0
asyncio
websockets
dotenv
xarray
netcdf4
h5netcdf
websocket
websocket-client
polars
scipy
dask
torch
matplotlib
folium
google-cloud-storage